---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.jsx';
import Hero from '../components/Hero.astro';
import CollectionsPreview from '../components/CollectionsPreview.jsx';
import HistoryShort from '../components/HistoryShort.astro';
import InstagramSection from '../components/InstagramSection.astro';
import ContactSection from '../components/ContactSection.astro';
---

<Layout title="Heartmade By M">
    
    <Navbar client:load />

    <main class="w-full bg-[#f5f5f4]">
      
      <div class="relative w-full h-screen overflow-hidden">
        <Hero />
      </div>

      <div class="relative z-10 w-full bg-[#f5f5f4]">
        
        <div id="colecciones">
            <CollectionsPreview client:visible={{rootMargin: "200px"}} />
        </div>

        <div id="historia">
            <HistoryShort />
        </div>

        <div>
            <InstagramSection />
        </div>

        <div id="contacto">
            <ContactSection />
        </div>

      </div>

    </main>
    
</Layout>